# Should never be committed
.env

# Project output files
ethers

# Python stuff
**/__pycache__/**

# pip specific
build/
ethers.egg-info/

# poetry/uv specific
.python-version

# uv specific
uv.lock

